################################
###### ESTÁCIO AUTOMATION (.env.example)
################################
# Credenciais do Portal do Aluno
ESTACIO_EMAIL=seu_email@alunos.estacio.br
ESTACIO_PASSWORD=sua_senha_aqui
ESTACIO_MATRICULA=sua_matricula_aqui

# Provedores de IA (Opcional para scripts CLI)
MISTRAL_KEY=
GROQ=
GEMINI=
OPENAI_API_KEY=
